*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    /* box-sizing: border-box; */
    border-width: 0px;
}
:root{
    --rouge: #B11313;
    --jaune: #F1C530;
    --bleu: #114C92;
    --noir: #000000;
    --blanc: #FFFFFF;
}
@font-face{
    font-family: 'spider';
    src: url("../Far-From\ Homecoming\ Updated.otf");
}

/* HEADER */
header figure, header ul{
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}
header{
    background: var(--rouge);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 30px 10px 30px;
    padding: 10px 0px 10px 0px;
    position: fixed;
    top: 0;
    width: 100%;
}
header .nav{
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 30px;
}
header a, footer a{
    text-decoration: none;
    color: var(--blanc);
    display: flex;
    align-items: center;
}
header ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
li{
    height: 50px;
    display: flex;
    align-items: center;
}
.logo{
    width: 40%;
    display: flex;
    align-items: center;
    margin-left: 30px;
}
.logo img{
    vertical-align: middle;
    margin: 0 16px 0 0;
}
/* HEADER */


h1{
    font-family: 'Far From Homecoming';
    font-weight: lighter;
}
.contenu1{
    color: var(--blanc);
    background: var(--jaune);
    display: flex;
    align-items: center;

}
.wrap-contenu1{
    color: var(--blanc);
    background: var(--jaune);
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    width:100%;
}
.contenu1 .wrap-contenu1 .logo{
    display: none;
}
.contenu1 .left{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 60%;
}
h1{
    font-family: 'spider';
}
.contenu1 .title1{
    font-size: 45px;
    margin-top: 8%;
    font-family: 'spider';
    font-weight: lighter;
}
.contenu1 img{
    max-width: 100%;
}
.bouton > button{
    border-radius: 16px;
    padding: 13px 10px 13px 10px;
    width: 141px;
}
.contenu2 .left{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 4% 0 4% 0;
    
}
.contenu2 img{
    max-width: 100%;
    margin: 10% 0 5% 0;
}
.contenu2{
    background: var(--rouge);
    color: var(--blanc);
    display: flex;
    justify-content: space-evenly;
}
.contenu2 form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}
.contenu2 .right{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 25%;
    margin: 8% 0% 0% 0%;
}
.contenu2 input,.contenu2 textarea{
    display: block;
    background: none;
    border: 1px solid var(--blanc);
    border-radius: 12px;
    margin: 4% 0 4% 0;
    padding:  2%;
}
::placeholder{
    color: white;
}
.contenu2 button{
    display: block;
    background: none;
    border: 1px solid var(--blanc);
    border-radius: 12px;
    color: white;
    width: 40%;
    padding: 3%;
}
.b2{
    color: var(--blanc);
    background: none;
    border: 1px solid var(--blanc);
    margin-left: 3%;
    
}
.contenu3 .bouton{
    margin-top: 3%;
    display: flex;
    justify-content: space-evenly;
}
.contenu3 .mobile{
    display: none;
}
.contenu3{
    background: var(--bleu);
    display: flex;
    flex-direction: column;
    color: var(--blanc);
    padding: 4% 11% 4% 11%;
}
.contenu3 .paragraphe{
    display: flex;
    margin: 3.5% 0 3.5% 0;
}
.contenu3 .paragraphe .left{
    text-align: justify;
    width: 200%;
}
.contenu3 .paragraphe p{
    margin: 2.5% 3% 3.5% 0;
}
.contenu3 .paragraphe .right .der{
    margin-top: 7%;
}
.contenu3 ul{
    margin-left: 9%;
}
.contenu3 button{
    color: var(--blanc);
    background: none;
    border: 1px solid var(--blanc);
    border-radius: 15px;
    width: 17%;
    
}
footer{
    background: var(--noir);
}
footer .premier-ligne{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4% 12% 0 6%;
}
footer .premier-ligne .lien1{
    display: flex;
    justify-content: space-between;
    list-style: none;
    width: 40%;
}
footer .premier-ligne .lien2{
    display: flex;
    justify-content: space-between;
    list-style: none;
    width: 12%;
}
footer .premier-ligne figure img{
    vertical-align: middle;
    margin: 0 2.5px 0 2.5px;
}
footer .premier-ligne select{
    background: var(--rouge);
    border: none;
    border-radius: 10px;
    color: var(--blanc);
    width: 160%;
    padding: 2.5%;
}
footer .deuxieme-ligne{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4.5% 0 0 0;
}
footer .deuxieme-ligne figure{
    display: flex;
    justify-content: space-between;
    width: 15%;
}
footer .deuxieme-ligne img{
    background: var(--rouge);
    border-radius: 17px;
    max-width: 20%;
    padding: 3%;
}
footer .troixieme-ligne{
    text-align: center;
    color: var(--blanc);
    opacity: 0.6;
    padding: 2.5% 0 2.5% 0;
}
@media  only screen and ( max-width: 768px) { 
    /* HEADER */
    .logo{
        display: none;
    } 
    header {
        padding: 10px;
        display: flex;
        justify-content: center;
    }
    header .nav{
        width: 300px;
        margin: 0;
    }
    ul {
        width: 100%;
    }
    .figures {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .wrap-contenu1 .logo{
        display: block;
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
    li {
        height: 30px;
        display: flex;
        align-items: center;
    }
/* HEADER */
/* CONTENU1 */
.contenu1 {
    display: flex;
    flex-direction: column;
    padding: 90px 20px 90px 20px;
    background-image: url("../Illustration/img5.png");
    background-size: 100% 100%;
}
.contenu1 .title1 {
    font-size: 20px;
    margin-top: 25px;
}
.contenu1 .wrap-contenu1 {
    display: flex;
    flex-direction: column; 
    padding: 0;
    background: transparent;
    align-items: flex-start;
}
.contenu1 .left {
    width: auto;
    align-items: flex-start;
}
.contenu1 h1{
    text-align: left;
}
.contenu1 .wrap-contenu1 .right{
    display: none;
}
.wrap-contenu1 .logo_marvel{
    width: 100px;
}
.wrap-contenu1 .x{
    width: 10px;
}
.wrap-contenu1 .sayna{
    width: 25px;
}
.contenu1 h3 {
    display: none;
}
.contenu1 .title2 {
    font-weight: lighter;
    padding-top: 100px;
    font-size: 15px;
}
.contenu1 .logo{
    display: block;
}
.contenu1 .wrap-contenu1 h1 + h3 {
    display: block;
    font-size: 15px;
}

/* CONTENU1 */
.contenu2, .contenu3, .contenu3 .paragraphe, .contenu3 .mobile{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contenu3 h3{
    display: none;
}
.contenu3 .desktop{
    display: none;
}
.contenu3 .mobile div{
    display: flex;
}
.contenu3 .mobile div button{
    width: 100%;
    padding: 10px 30px 10px 30px;
    margin: 2px 3px 2px 3px;
}
.contenu3, .contenu2{
    padding: 2px 15px 15px 15px;
}
.contenu3 .paragraphe .left{
    text-align: justify;
    width: 100%;
}

.contenu3 ul {
     margin-left: 0; 
}
h1{
    text-align: center;
}
.contenu2 .right {
    width: 100%;
}
/* FOOTER */
footer figure{
    display: none;
}
footer .premier-ligne{
    display: flex;
    justify-content: space-between;
}
footer .premier-ligne .lien1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    list-style: none;
    width: 40%;
} 
footer .premier-ligne .lien2 {
    display: none;
} 
footer .premier-ligne select {
    background: var(--rouge);
    border: none;
    border-radius: 10px;
    color: var(--blanc);
    width: 100px;
    padding: 5px 10px 5px 10px;
}
footer .deuxieme-ligne figure {
    display: flex;
    justify-content: space-between;
    width: 150px;
}
/* FOOTER */
}